.cards{
    .cards-wrapper{
        max-height: 320px;
        overflow-y: auto;
        .card{
            box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
            background-color: white;
            border-radius: 7px;
            height: 40px;
            box-sizing: border-box;
            border: 2px solid transparent;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            &:hover {
                border: 2px solid #0C66E4;
            }
            .card-content {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin-left: 25px;
                .card-title {
                    color: #172b4d;
                    font-weight: 530;
                    &.completed {
                        color: #626f86;
                    }
                }
                input[type="checkbox"] {
                    appearance: none;
                    -webkit-appearance: none;
                    width: 10px;
                    height: 10px;
                    box-sizing: border-box;
                    border: 2px solid #44546f;
                    border-radius: 50%;
                    background-color: white;
                    position: relative;
                    transition: transform 0.35s ease, background-color 0.3s, border-color 0.3s;
                    vertical-align: middle;
                    transform: translateY(4px);
                    &:checked {
                        background-color: #22A06B;
                        border-color: #22A06B;
                    }
                    &:checked::after {
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: 7px;
                        width: 5px;
                        height: 12px;
                        border: solid white;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                    &:active {
                        transform: translateY(4px) scale(0.85);
                    }
                }
            }
        }
    }
}